{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Employee Productivity & Wellbeing System</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="navbar">

    <div class="logo-box">
        <img src="{% static 'images/logo.png' %}" width="60">
        <h2>Employee Productivity & Wellbeing System</h2>
    </div>

    <div class="menu">
        <a href="/">Home</a>
        <a href="/register/">Register</a>
        <a href="/login/">Login</a>
    </div>

</div>

<div class="hero">

    <img src="{% static 'images/logo.png' %}" width="450">


    <p>
        Monitor employee productivity, digital wellbeing and
        analytics using Django, Cloud and DevOps practices.
    </p>

    <a href="/register/" class="btn1">
        Get Started
    </a>

    <a href="/login/" class="btn2">
        Login
    </a>

</div>

<div class="cards">

    <div class="card">
        ☁️
        <h3>Cloud Monitoring</h3>
        <p>Deploy and monitor applications.</p>
    </div>

    <div class="card">
        📊
        <h3>Analytics Dashboard</h3>
        <p>Track employee productivity.</p>
    </div>

    <div class="card">
        👥
        <h3>Employee Wellbeing</h3>
        <p>Monitor digital wellbeing.</p>
    </div>

    <div class="card">
        ⚙️
        <h3>DevOps Automation</h3>
        <p>CI/CD and monitoring integration.</p>
    </div>

</div>

<footer>
    Built with Django • Python • Cloud • DevOps
</footer>

</body>
</html>